# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Local Uploads Directory
uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
